body{
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}
.mainDiv{
    display: flex;
    
    height: 100%;
    width: 100%;
    position: absolute;
    
}

.commonDiv{
    justify-content: center;
    display:flex;
    
}
.mainLeftDiv{

    min-width: 350px;
    min-height: 50px;   
}
.mainRightDiv{
    padding-top: 160px;
    padding-left: 40px;
  
    min-width: 980px;
    min-height: 50px;
    align-items: center;
    justify-content: center;
}
.loginCard{
    background-color: #454D7A;
    min-width: 270px;
    min-height: 435px; 
    
}
input[type=text],input[type=password], select {
    min-width: 290px;
    padding: 12px 10px;
    
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type=submit] {
    min-height:30px;
    min-width: 100px;
    border:none;
    border-radius: 4px;
    color:white;
    background-color: #5B64BD;
}
    
.login-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
    
.g_id_signin{

    margin: 10px;

}